
.row1{
  max-width:100%;
}
.search{
	width: 100%;
}
.row2{
  width:100%;
  display:flex;
  flex-wrap: wrap;  
}
ul{ 
  padding-left: 0px;
	list-style: none; 
  width: 18%;
}
li {
  cursor: pointer;
}
#map {   
	left: 20%;
  height: 100%;
  right: 1%;
	position: absolute;
}